<a href="https://colab.research.google.com/github/Neha-Nayak/Pyspark/blob/main/BacklogAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Backlog Analysis**

In [ ]:
#!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 32.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=4657155d50f403db83187563075a1a2f3ae3e31011967cd815cd94d826d8e20e
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

Importing Modules

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd

In [ ]:
spark=SparkSession.builder.appName("Analysis").getOrCreate()

Reading the given Results_data

In [74]:
df_ResultData=spark.read.csv("Results_Data.csv",header=True,inferSchema=True)
df_ResultData.head(10)

[Row(USN='4JN18CS001', SCODE='18MAT11', CIE=32, SEE=41, TOT=73, RESULT='P', GRADE=8, DATE='12019', ExamType='Regular'),
 Row(USN='4JN18CS001', SCODE='18PHY12', CIE=29, SEE=47, TOT=76, RESULT='P', GRADE=8, DATE='12019', ExamType='Regular'),
 Row(USN='4JN18CS001', SCODE='18ELE13', CIE=25, SEE=43, TOT=68, RESULT='P', GRADE=7, DATE='12019', ExamType='Regular'),
 Row(USN='4JN18CS001', SCODE='18CIV14', CIE=31, SEE=26, TOT=57, RESULT='P', GRADE=6, DATE='12019', ExamType='Regular'),
 Row(USN='4JN18CS001', SCODE='18EGDL15', CIE=31, SEE=56, TOT=87, RESULT='P', GRADE=9, DATE='12019', ExamType='Regular'),
 Row(USN='4JN18CS001', SCODE='18PHYL16', CIE=32, SEE=40, TOT=72, RESULT='P', GRADE=8, DATE='12019', ExamType='Regular'),
 Row(USN='4JN18CS001', SCODE='18ELEL17', CIE=34, SEE=52, TOT=86, RESULT='P', GRADE=9, DATE='12019', ExamType='Regular'),
 Row(USN='4JN18CS001', SCODE='18EGH18', CIE=27, SEE=32, TOT=59, RESULT='P', GRADE=6, DATE='12019', ExamType='Regular'),
 Row(USN='4JN18CS002', SCODE='18MAT11', CIE=33, SEE=51, TOT=84, RESULT='P', GRADE=9, DATE='12019', ExamType='Regular'),
 Row(USN='4JN18CS002', SCODE='18PHY12', CIE=36, SEE=45, TOT=81, RESULT='P', GRADE=9, DATE='12019', ExamType='Regular')]

In [75]:
df_ResultData.show(10)

+----------+--------+---+---+---+------+-----+-----+--------+
|       USN|   SCODE|CIE|SEE|TOT|RESULT|GRADE| DATE|ExamType|
+----------+--------+---+---+---+------+-----+-----+--------+
|4JN18CS001| 18MAT11| 32| 41| 73|     P|    8|12019| Regular|
|4JN18CS001| 18PHY12| 29| 47| 76|     P|    8|12019| Regular|
|4JN18CS001| 18ELE13| 25| 43| 68|     P|    7|12019| Regular|
|4JN18CS001| 18CIV14| 31| 26| 57|     P|    6|12019| Regular|
|4JN18CS001|18EGDL15| 31| 56| 87|     P|    9|12019| Regular|
|4JN18CS001|18PHYL16| 32| 40| 72|     P|    8|12019| Regular|
|4JN18CS001|18ELEL17| 34| 52| 86|     P|    9|12019| Regular|
|4JN18CS001| 18EGH18| 27| 32| 59|     P|    6|12019| Regular|
|4JN18CS002| 18MAT11| 33| 51| 84|     P|    9|12019| Regular|
|4JN18CS002| 18PHY12| 36| 45| 81|     P|    9|12019| Regular|
+----------+--------+---+---+---+------+-----+-----+--------+
only showing top 10 rows

In [191]:
df=df_ResultData.select('USN','SCODE','TOT','RESULT','ExamType')
df.show()

+----------+--------+---+------+--------+
|       USN|   SCODE|TOT|RESULT|ExamType|
+----------+--------+---+------+--------+
|4JN18CS001| 18MAT11| 73|     P| Regular|
|4JN18CS001| 18PHY12| 76|     P| Regular|
|4JN18CS001| 18ELE13| 68|     P| Regular|
|4JN18CS001| 18CIV14| 57|     P| Regular|
|4JN18CS001|18EGDL15| 87|     P| Regular|
|4JN18CS001|18PHYL16| 72|     P| Regular|
|4JN18CS001|18ELEL17| 86|     P| Regular|
|4JN18CS001| 18EGH18| 59|     P| Regular|
|4JN18CS002| 18MAT11| 84|     P| Regular|
|4JN18CS002| 18PHY12| 81|     P| Regular|
|4JN18CS002| 18ELE13| 68|     P| Regular|
|4JN18CS002| 18CIV14| 63|     P| Regular|
|4JN18CS002|18EGDL15| 89|     P| Regular|
|4JN18CS002|18PHYL16| 75|     P| Regular|
|4JN18CS002|18ELEL17| 84|     P| Regular|
|4JN18CS002| 18EGH18| 72|     P| Regular|
|4JN18CS003| 18MAT11| 81|     P| Regular|
|4JN18CS003| 18PHY12| 73|     P| Regular|
|4JN18CS003| 18ELE13| 81|     P| Regular|
|4JN18CS003| 18CIV14| 72|     P| Regular|
+----------+--------+---+------+--------+
only showing top 20 rows

Removing Null values

In [76]:
df_ResultData.select('ExamType').distinct().show()

+--------+
|ExamType|
+--------+
| Backlog|
|    null|
| Regular|
+--------+

In [141]:
dftry=df.na.drop(how='any',subset='ExamType')
dftry.select('ExamType').distinct().show()

+--------+
|ExamType|
+--------+
| Backlog|
| Regular|
+--------+

Student who failed Regular Exam.

In [170]:
df1=dftry.filter((dftry.ExamType == 'Regular') & (dftry.RESULT == "F"))
df1.show(30)

+----------+--------+---+------+--------+
|       USN|   SCODE|TOT|RESULT|ExamType|
+----------+--------+---+------+--------+
|4JN18CS005| 18CIV14| 42|     F| Regular|
|4JN18CS008|18EGDL15| 51|     F| Regular|
|4JN18CS010|18EGDL15| 52|     F| Regular|
|4JN18CS017| 18ELE13| 42|     F| Regular|
|4JN18CS018|18EGDL15| 49|     F| Regular|
|4JN18CS024| 18ELE13| 34|     F| Regular|
|4JN18CS027| 18MAT11| 44|     F| Regular|
|4JN18CS027| 18ELE13| 25|     F| Regular|
|4JN18CS027|18PHYL16| 37|     F| Regular|
|4JN18CS035| 18ELE13| 37|     F| Regular|
|4JN18CS039| 18MAT11| 21|     F| Regular|
|4JN18CS039| 18PHY12| 21|     F| Regular|
|4JN18CS039| 18ELE13| 25|     F| Regular|
|4JN18CS039| 18CIV14| 34|     F| Regular|
|4JN18CS039|18EGDL15| 42|     F| Regular|
|4JN18CS039|18PHYL16| 44|     F| Regular|
|4JN18CS040| 18ELE13| 38|     F| Regular|
|4JN18CS041| 18MAT11| 43|     F| Regular|
|4JN18CS041| 18ELE13| 31|     F| Regular|
|4JN18CS041| 18CIV14| 41|     F| Regular|
|4JN18CS041|18EGDL15| 36|     F| Regular|
|4JN18CS044|18EGDL15| 49|     F| Regular|
|4JN18CS046|18EGDL15| 53|     F| Regular|
|4JN18CS047| 18MAT11| 34|     F| Regular|
|4JN18CS047| 18ELE13| 28|     F| Regular|
|4JN18CS047| 18CIV14| 32|     F| Regular|
|4JN18CS047|18EGDL15| 49|     F| Regular|
|4JN18CS047|18PHYL16| 48|     F| Regular|
|4JN18CS050| 18ELE13| 29|     F| Regular|
|4JN18CS069| 18PHY12| 43|     F| Regular|
+----------+--------+---+------+--------+
only showing top 30 rows

Function for determining whether a student has passed in the backlog exam.

In [189]:
def check_usn(usn):
  flag=[]
  df2=dftry.filter((dftry.ExamType == 'Regular') & (dftry.RESULT == "F")& (dftry.USN == usn))
  df3=dftry.filter((dftry.ExamType == 'Backlog') & (dftry.RESULT == "P")& (dftry.USN == usn))
  for i in df2.select("SCODE").collect():
    if i['SCODE'] in df3.toPandas()["SCODE"].values.tolist():
      flag.append(i['SCODE'])
  return flag

In [190]:
check_usn("4JN18CS047")

['18CIV14']

To Verify the above result.

In [172]:
df2=dftry.filter((dftry.ExamType == 'Regular') & (dftry.RESULT == "F")& (dftry.USN == "4JN18CS047"))
df2.show()

+----------+--------+---+------+--------+
|       USN|   SCODE|TOT|RESULT|ExamType|
+----------+--------+---+------+--------+
|4JN18CS047| 18MAT11| 34|     F| Regular|
|4JN18CS047| 18ELE13| 28|     F| Regular|
|4JN18CS047| 18CIV14| 32|     F| Regular|
|4JN18CS047|18EGDL15| 49|     F| Regular|
|4JN18CS047|18PHYL16| 48|     F| Regular|
|4JN18CS047| 18MAT21| 39|     F| Regular|
|4JN18CS047| 18ELN24| 37|     F| Regular|
+----------+--------+---+------+--------+

In [173]:
df3=dftry.filter((dftry.ExamType == 'Backlog') & (dftry.RESULT == "P")& (dftry.USN == "4JN18CS047"))
df3.show()

+----------+-------+---+------+--------+
|       USN|  SCODE|TOT|RESULT|ExamType|
+----------+-------+---+------+--------+
|4JN18CS047|18CIV14| 44|     P| Backlog|
+----------+-------+---+------+--------+