<a href="https://colab.research.google.com/github/Neha-Nayak/Pyspark/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 31 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 35.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=51b541f6c8ebbd6271912b27f99ab3b451cddaad5e8f453db99d44d18103f7f4
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

Basics

In [ ]:
import pandas as pd
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/test.csv')

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/Colab Notebooks/test.csv')
df_pyspark.show()

+------+----+---+
|   _c0| _c1|_c2|
+------+----+---+
|  name|math| cs|
| david|  92| 98|
| laura|  56| 68|
|sanjay|  88| 81|
|   wei|  70| 80|
|  jeff|  80| 83|
| aamir|  49| 52|
|venkat|  65| 66|
| virat|  35| 30|
|arthur|  66| 68|
|  paul|  67| 73|
+------+----+---+

In [ ]:
spark.read.option('header','true').csv('/content/drive/MyDrive/Colab Notebooks/test.csv')

DataFrame[name: string, math: string, cs: string]

In [ ]:
df_pyspark.head(10)

[Row(_c0='name', _c1='math', _c2='cs'),
 Row(_c0='david', _c1='92', _c2='98'),
 Row(_c0='laura', _c1='56', _c2='68'),
 Row(_c0='sanjay', _c1='88', _c2='81'),
 Row(_c0='wei', _c1='70', _c2='80'),
 Row(_c0='jeff', _c1='80', _c2='83'),
 Row(_c0='aamir', _c1='49', _c2='52'),
 Row(_c0='venkat', _c1='65', _c2='66'),
 Row(_c0='virat', _c1='35', _c2='30'),
 Row(_c0='arthur', _c1='66', _c2='68')]

In [ ]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

Data Frames

In [ ]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [ ]:
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/Colab Notebooks/test.csv',inferSchema=True)

In [ ]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(name='david', math=92, cs=98),
 Row(name='laura', math=56, cs=68),
 Row(name='sanjay', math=88, cs=81)]

In [ ]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
| david|
| laura|
|sanjay|
|   wei|
|  jeff|
| aamir|
|venkat|
| virat|
|arthur|
|  paul|
+------+

In [ ]:
df_pyspark.select('name','cs').show()

+------+---+
|  name| cs|
+------+---+
| david| 98|
| laura| 68|
|sanjay| 81|
|   wei| 80|
|  jeff| 83|
| aamir| 52|
|venkat| 66|
| virat| 30|
|arthur| 68|
|  paul| 73|
+------+---+

In [ ]:
df_pyspark.dtypes

[('name', 'string'), ('math', 'int'), ('cs', 'int')]

In [ ]:
df_pyspark.describe().show()

+-------+-----+------------------+------------------+
|summary| name|              math|                cs|
+-------+-----+------------------+------------------+
|  count|   10|                10|                10|
|   mean| null|              66.8|              69.9|
| stddev| null|17.376868404737245|18.651481919080258|
|    min|aamir|                35|                30|
|    max|  wei|                92|                98|
+-------+-----+------------------+------------------+

Adding columns

In [ ]:
df_pyspark=df_pyspark.withColumn('dbms',df_pyspark['Math']+2).show()

+------+----+---+----+
|  name|math| cs|dbms|
+------+----+---+----+
| david|  92| 98|  94|
| laura|  56| 68|  58|
|sanjay|  88| 81|  90|
|   wei|  70| 80|  72|
|  jeff|  80| 83|  82|
| aamir|  49| 52|  51|
|venkat|  65| 66|  67|
| virat|  35| 30|  37|
|arthur|  66| 68|  68|
|  paul|  67| 73|  69|
+------+----+---+----+

Dropping the columns

In [ ]:
df_pyspark.drop('dbms')

AttributeError: ignored